<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sayama Travel Group</title>

        <link rel="stylesheet" href="../sayama.css">
    </head>
    <body>
    	<div class="layout__wrapper">
			<div class="layout__header"></div>   
			<div class="layout__content"> 
				<h2 class="layout__title">Thailand</h2>	
				<div class="about__col">
					<h3 class="about__title">CULTURE</h3>
					<p class="about__text">Thais venerate their old traditions and customs. In Thailand, show the same degree of respect that you would
					in your native country. Please make sure you behave
					and dress modestly. Being shirtless or wearing shorts,
					mini-skirts and other provocative outfits is not permitted
					in cultural heritage sites. When visiting a Buddhist sanctuary,
					you will be required to wear appropriate clothing,
					which means all knees and shoulders must be covered.</p>
					<p class="about__text">You may keep your shoes on only outside the temple. When stepping over the threshold of a temple, make
					sure you take them off. All statues and images of Buddha
					– small, large, crumbling or new – are regarded as
					sacred. Please don’t climb on them, even to pose for a
					photo. Treat them with respect.</p>
					<p class="about__text">Don’t get too emotional in public and don’t raise your voice. </p>
					<p class="about__text">HM the King and the Royal Family are honored an deeply revered by Thais. Any sign of disregard for him including his image on the local banknotes are seen as a crime. </p>
					<h3 class="about__title">SAFETY</h3>
					<p class="about__text">While the tap water found throughout Thailand is undrinkable, hotels provide complimentary safe drinking
					water. You can also buy bottled drinking water in all
					shops. Thailand is a left-hand drive country and traffic
					here is busy and sometimes chaotic. Please be very
					careful when crossing the road. </p>
					<p class="about__text">Please refrain from renting motocycles and scooters – you may fall a victim of a fraud or scam involving documents
					or deposit, or get into a car accident. </p>
				</div>
				<div class="about__col">
					<p class="about__text">Please make sure you keep all your valuables in a safe in your hotel room or at the reception. It is advisable that
					you make photocopies of your air tickets, passport and
					insurance policy and keep them separately or have them
					about yourself. </p>
					<h3 class="about__title">MONEY</h3>
					<p class="about__text">In Thailand, only local currency, the baht, is accepted. If you buy something you may pay in cash or by a credit
					card. Money can be exchanged in banks or in official
					exchange offices. </p>
					<h3 class="about__title">VAT REFUND</h3>
					<p class="about__text">When buying goods valued at more than 2,000 THB, you should ask a sales assistance for a special VAT refund
					form. You will also need to show her your passport to
					allow her to fill in the above mentioned form, so that
					you can easily get a 7% VAT refund at the airport before
					departure. </p>
					<h3 class="about__title">HOW TO RENT/BUY REAL ESTATE?</h3>
					<p class="about__text">For all questions relating to acquisition of real estate in Thailand you should contact duly licensed and reputable
					companies only. Such companies provide reliable legal
					advice and support at all stages. </p>
				</div>
				<span class="layout__page-num">Page 2</span>
				<a class="layout__content-button" href="index.html">содержание</a>
			</div>
			<div class="about__map"></div>
			<div class="layout__footer--empty"></div>
		</div>
    </body>
</html>