<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sayama Travel Group</title>

        <link rel="stylesheet" href="../output.css">
    </head>
    <body>
    	<div class="layout__wrapper">
			<div class="layout__header"></div>   
			<div class="layout__content about__content"> 
				<h2 class="layout__title">CONTACT OFFICES<br/>HOTLINE: +66 89 009 5000</h2>	
				<table class="table contacts__table--titled">
                    <tr class="table__row">
                        <td class="table__col table__col" colspan="2">Office #1</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col">565/83-85, Noo 10, Nongprue Banglamung Chonburi Pattaya 20150, Thailand
						<br/>Phone: 000-000-000-00
						<br/>Fax: 000-000-000-00</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col" colspan="2">Office #2</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col">565/83-85, Noo 10, Nongprue Banglamung Chonburi Pattaya 20150, Thailand
						<br/>Phone: 000-000-000-00
						<br/>Fax: 000-000-000-00</td>
                    </tr>
                </table>
				<h2 class="layout__title contacts__attention">ATTENTION!</h2>
				<table class="table contacts__table--attention">
                    <tr class="table__row">
                        <td class="table__col table__col" colspan="2">
                        	Пожалуйста, записывайтесь на экскурсии заранее и не опаздывайте на них.
							<br/>родолжительность экскурсий указана приблизительно (+/- час, в зависимости от удаленности отеля от
							места начала экскурсии).
							<br/>Компания оставляет за собой право из-за погодных или иных условий, заменять некоторые компоненты
							экскурсий или менять местами объекты посещения при сохранении общей ее наполненности.
							<br/>Минимальная численность экскурсионной группы (если не указано иначе) – 8 человек (взрослые).
							<br/>При отказе от экскурсии более чем за 36 часов до ее начала удерживается 30% от стоимости экскурсии.
							<br/>При отказе от экскурсии менее чем за 36 часов до ее начала стоимость экскурсии не возвращается.
							<br/>При отказе от экскурсии, входящей в пакет, стоимость не возвращается
							<br/>Цена за индивидуальный трансфер указана для одного отеля, сбор из каждого дополнительного оплачи-
							вается в размере 200 батов.
							<br/>В случае изменения или отмены тура в ЮВА по инициативе туриста, а также в случае отказа в открытии
							визы, удерживается полная стоимость авиабилетов, стоимость проживания (гостиничного номера) за
							весь период и визовый сбор. По остальной части тура (наземное обслуживание, услуги гидов, обзорная
							экскурсия) возможен возврат в соответствие с общими условиями отмены туров, указанными в настоя-
							щем прайс листе. Медицинское страхование в стоимость тура не входит.</td>
                    </tr>
                </table>
				<span class="layout__page-num layout__page-num--left">Page 5</span>
			</div>
			<div class="contacts__icons">
				<h2 class="layout__title contacts__icon-title">&nbsp;<br/>УСЛОВНЫЕ ОБОЗНАЧЕНИЯ</h2>	
                <div class="icons__container icons__container--right">
                	<div>
	                    <div class="icons__item icons__item--right icons__item--x2"></div>
	            		<span class="icons__text">Одежда, соответствующая посещению храмов</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--building"></div>
	            		<span class="icons__text">Удобная одежда</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--boots"></div>
	            		<span class="icons__text">Удобная одежда и сменная одежда</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--money"></div>
	            		<span class="icons__text">Удобная обувь, фиксирующаяся на ноге</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--hat"></div>
	            		<span class="icons__text">Купальные принадлежности</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--photo"></div>
	            		<span class="icons__text">Солнцезащитный крем</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--swimsuit"></div>
	            		<span class="icons__text">Полотенце</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--notebook"></div>
	            		<span class="icons__text">Головной убор</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--suit"></div>
	            		<span class="icons__text">Фотоаппарат</span>
            		</div>
                	<div>
                    	<div class="icons__item icons__item--right icons__item--cream"></div>
	            		<span class="icons__text">Деньги на сувениры и напитки</span>
            		</div>
                </div>
			</div>
			<a class="layout__content-button contacts__content-button" href="index.html">содержание</a>
			<div class="layout__footer"></div>
		</div>
    </body>
</html>