<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sayama Travel Group</title>

        <link rel="stylesheet" href="../output.css">
    </head>
    <body>
    	<div class="layout__wrapper">
			<div class="layout__header"></div>   
			<div class="layout__content schedule__content"> 
				<h2 class="layout__title">PROGRAM QUOTATION</h2>	
                <table class="table details__table">
                    <tr class="table__row">
                        <td class="table__col table__col--center"></td>
                        <td class="table__col table__col--center">★★★</td>
                        <td class="table__col table__col--center">★★★★</td>
                        <td class="table__col table__col--center">★★★★★</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center"></td>
                        <td class="table__col table__col--center">HOTEL</td>
                        <td class="table__col table__col--center">-</td>
                        <td class="table__col table__col--center">HOTEL</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center"></td>
                        <td class="table__col table__col--center">-</td>
                        <td class="table__col table__col--center">HOTEL</td>
                        <td class="table__col table__col--center">-</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center">HUAHIN</td>
                        <td class="table__col table__col--center">-</td>
                        <td class="table__col table__col--center">HOTEL</td>
                        <td class="table__col table__col--center">-</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center">PHUKET</td>
                        <td class="table__col table__col--center">HOTEL</td>
                        <td class="table__col table__col--center">-</td>
                        <td class="table__col table__col--center">-</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center"></td>
                        <td class="table__col table__col--center">000 USD</td>
                        <td class="table__col table__col--center">000 USD</td>
                        <td class="table__col table__col--center">000 USD</td>
                    </tr>
                </table>
                <h2 class="layout__title details__title--second">INCLUDED SERVICES</h2>    
                <table class="table details__table details__table--second">
                    <tr class="table__row">
                        <td class="table__col">
                            <p class="details__no-col">Some included services</p>
                            <p class="details__no-col">Some included services</p>
                            <p class="details__no-col">Some included services</p>
                        </td>
                    </tr>
                </table>
                <h2 class="layout__title details__title--third">INCLUDED SERVICES</h2>    
                <table class="table details__table details__table--third">
                    <tr class="table__row">
                        <td class="table__col">
                            <p class="details__no-col">Some included services</p>
                            <p class="details__no-col">Some included services</p>
                            <p class="details__no-col">Some included services</p>
                        </td>
                    </tr>
                </table>
                <span class="layout__page-num layout__page-num--center">Page 4</span>
                <a class="layout__content-button" href="index.html">содержание</a>
            </div>  
            <div class="frame__container">
                <div class="frame__shot"></div>
                <div class="frame__shot"></div>
                <div class="frame__shot"></div>
            </div>
            <div class="frame__border"></div>
            <div class="layout__footer">
                <div class="icons__container icons__container--footer">
                    <div class="icons__item icons__item--footer icons__item--x2"></div>
                    <div class="icons__item icons__item--footer icons__item--building"></div>
                    <div class="icons__item icons__item--footer icons__item--boots"></div>
                    <div class="icons__item icons__item--footer icons__item--money"></div>
                    <div class="icons__item icons__item--footer icons__item--hat"></div>
                    <div class="icons__item icons__item--footer icons__item--photo"></div>
                    <div class="icons__item icons__item--footer icons__item--swimsuit"></div>
                    <div class="icons__item icons__item--footer icons__item--notebook"></div>
                    <div class="icons__item icons__item--footer icons__item--suit"></div>
                    <div class="icons__item icons__item--footer icons__item--cream"></div>
                </div>
            </div>
        </div>
    </body>
</html>