<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sayama Travel Group</title>

        <link rel="stylesheet" href="../sayama.css">
    </head>
    <body>
    	<div class="index__wrapper">
            <div class="index__container">
                <h1 class="index__title">Название экскурсионной программы</h1>
                <ul class="index__list">
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">1</div>
                        </div>
                        <span class="index__list-title">ДЕНЬ 1. ОБЗОРНАЯ ЭКСКУРСИЯ ПО ПАТТАЙЕ</span>
                    </li>
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">2</div>
                        </div>
                        <span class="index__list-title">ДЕНЬ 1. ОБЗОРНАЯ ЭКСКУРСИЯ ПО ПАТТАЙЕ</span>
                    </li>
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">3</div>
                        </div>
                        <span class="index__list-title">ДЕНЬ 1. ОБЗОРНАЯ ЭКСКУРСИЯ ПО ПАТТАЙЕ</span>
                    </li>
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">4</div>
                        </div>
                        <span class="index__list-title">ДЕНЬ 1. ОБЗОРНАЯ ЭКСКУРСИЯ ПО ПАТТАЙЕ</span>
                    </li>
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">5</div>
                        </div>
                        <span class="index__list-title">ДЕНЬ 1. ОБЗОРНАЯ ЭКСКУРСИЯ ПО ПАТТАЙЕ</span>
                    </li>
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">6</div>
                        </div>
                        <span class="index__list-title">Цены. Услуги</span>
                    </li>
                    <li class="index__list-item">
                        <div class="index__list-marker">
                            <div class="index__list-num">7</div>
                        </div>
                        <span class="index__list-title">Условные обозначения</span>
                    </li>
                <ul>
            </div>
    	</div>
    </body>
</html>
