<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sayama Travel Group</title>

        <link rel="stylesheet" href="../output.css">
    </head>
    <body>
    	<div class="layout__wrapper">
			<div class="layout__header"></div>   
			<div class="layout__content"> 
				<h2 class="layout__title">Schedule</h2>	
            </div>
            <div class="frame__container">
                <div class="frame__shot"></div>
                <div class="frame__shot"></div>
                <div class="frame__shot"></div>
            </div>
            <div class="frame__border"></div>
            <div class="layout__footer"></div>
        </div>
    </body>
</html>