<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sayama Travel Group</title>

        <link rel="stylesheet" href="../output.css">
    </head>
    <body>
    	<div class="layout__wrapper">
			<div class="layout__header"></div>   
			<div class="layout__content schedule__content"> 
				<h2 class="layout__title">Schedule</h2>	
                <h5 class="schedule__subtitle">Accomodation: 3 night</h5>
                <table class="table">
                    <tr class="table__row">
                        <th class="table__head">02/09/2015</th>
                        <th class="table__head">Day 1: Arrive to Phuket</th>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center">22:30</td>
                        <td class="table__col">Насладитесь плаванием с маской, отдыхом на белоснежном пляже и полным отсутствием современной цивилизации. Уникальный подводный мир этих островов превратил их в настоящую Мекку для дайверов. Русскоговорящий гид. Обед.</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col" colspan="2">Overnight at the hotel</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col" colspan="2">&nbsp;</td>
                    </tr>
                    <tr class="table__row">
                        <th class="table__head">04/09/2015</th>
                        <th class="table__head">Day 2: Phuket city tour</th>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center">06:30</td>
                        <td class="table__col">Breakfest at hotel</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center">07:30</td>
                        <td class="table__col">Start</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col" colspan="2">Насладитесь плаванием с маской, отдыхом на белоснежном пляже и полным отсутствием современной цивилизации. Уникальный подводный мир этих островов превратил их в настоящую Мекку для дайверов. Русскоговорящий гид. Обед.</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col" colspan="2">«Свинка Пеппа» (англ. «Peppa Pig») — мультсериал из коротких мультфильмов по 5 минут.
                        Главные герои сериала: Свинка Пеппа, её младший брат Джордж, мама Свинка и папа Свин. Постоянными персонажами являются бабушка и дедушка, а также друзья Пеппы, Джорджа и их родители. Был показан по телевидению более чем в 180 странах[1] и переведен на 40 языков[2]. В России демонстрируется на канале TiJi и Карусель. До 28 февраля 2009 года транслировался на канале Nickelodeon (СНГ).</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col table__col--center">22:30</td>
                        <td class="table__col">Arrive</td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col" colspan="2">Overnight at the hotel</td>
                    </tr>
                </table>
                <span class="layout__page-num layout__page-num--center">Page 3</span>
                <a class="layout__content-button" href="index.html">содержание</a>
            </div>  
            <div class="frame__container">
                <div class="frame__shot"></div>
                <div class="frame__shot"></div>
                <div class="frame__shot"></div>
            </div>
            <div class="frame__border"></div>
            <div class="layout__footer">
                <div class="icons__container icons__container--footer">
                    <div class="icons__item icons__item--x2"></div>
                    <div class="icons__item icons__item--building"></div>
                    <div class="icons__item icons__item--boots"></div>
                    <div class="icons__item icons__item--money"></div>
                    <div class="icons__item icons__item--hat"></div>
                    <div class="icons__item icons__item--photo"></div>
                    <div class="icons__item icons__item--swimsuit"></div>
                    <div class="icons__item icons__item--notebook"></div>
                    <div class="icons__item icons__item--suit"></div>
                    <div class="icons__item icons__item--cream"></div>
                </div>
            </div>
        </div>
    </body>
</html>