.about

	&__content
		width: 637px
	
	&__map
		background-image: url('static/images/map.png')
		width: 424px
		height: 704px
		position: absolute
		right: 0
		top: $layout-header-height - 1

	&__col
		float: left
		width: 310px
		margin: 48px 0 0 17px

		&:first-of-type
			margin-left: 0

		& .about__title:first-child
			margin: 0 

	&__title
		font-size: 13px
		color: $orange-color
		text-transform: uppercase
		margin: 18px 0 0 0

	&__text
		font-size: 12px
		margin: 0
		text-align: justify


