.contacts

	&__table--titled

		& .table__row:nth-child(odd)
			background-color: #f8cdab
			font-weight: bold

	&__attention
		top: 300px

	&__table--attention
		top: 320px

	&__icons
		width: 394px
		position: relative
		height: $page-height - $layout-header-height - $layout-footer-height
		top: $layout-header-height - 1
		line-height: 18px
		float: left
		margin-left: 30px

	&__icon-title
		left: 58px

	&__content-button
		right: 15px
		bottom: 27px

		&:hover
			right: 14px
			bottom: 26px