.index

	&__wrapper
		background-image: url('static/images/index-wrapper.png')
		height: $page-height
		width: $page-width
		background-size: contain
		color: #fff

	&__container
		position: relativa
		margin-left: 179px
		padding-top: 186px

	&__title
		font-size: 21px
		margin: 0
		position: absolute
		text-transform: uppercase

	&__list	
		margin: 52px 0 0 0
		padding: 0
		position: absolute
		list-style-type: none

		&-item
			margin-bottom: 18px

		&-marker
			width: 24px
			height: 24px
			background-color: #fdecdf
			border-radius: 5px
			position: relative
			box-shadow: 1px 1px 1px 0 #db531f
			display: inline-block
			vertical-align: bottom

		&-num
			color: #f26621
			font-size: 15px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

		&-title
			text-transform: uppercase
			display: inline-block
			margin: 0
			vertical-align: bottom
			font-size: 16px
			color: #fff
			text-decoration: none
