.wrapper
	background-image: url('static/images/index-wrapper.png')
	height: 793px
	width: 1122px
	background-size: cover
	color: #fff
	

.index

	&__container
		position: relativa
		margin-left: 179px
		padding-top: 186px

	&__title
		font-size: 21px
		margin: 0
		position: absolute
		text-transform: uppercase

	&__list	
		margin: 0
		position: absolute
		list-style-type: none

	&__list-marker
		width: 24px
		height: 24px
		background-color: #fdecdf
		border-radius: 5px
		position: relative

	&__list-num
		color: #f26621
		font-size: 15px
		position: absolute
		margin: auto
		top: 0
		bottom: 0
		left: 0
		right: 0