.table
	width: 100%
	font-size: 12px
	position: absolute
	top: 61px

	&__head,
	&__col
		border: 1px solid #fff

	&__head:first-child
	&__col:first-child
		width: 96px

	&__col
		padding: 3px

		&--center
			text-align: center
